.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.invoice-header img {
    max-height: 100px;
}


.invoice {
    margin: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-items th,
.invoice-items td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.invoice-total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}